@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');

*{
  font-family: 'Alata', sans-serif;
}


.corpo{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.textLogo {
  font-size: 30px;
  font-family: 'Frijole', cursive;
}

.pai {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;

  background: url('../../assets/img/bannerOption.png') no-repeat;
  background-position: center;
  background-size: contain;
}

.header{
  width: 100%;
  height: 180px;
  background-color: #47b2b6;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.public{
  width: 80%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  color: #777;
}

.public input {
  width: 50%; 
  padding: 20px;
  border-radius: 0;
}

.sharer {
  width: 60%;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 190px;
  padding: 9px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}
.button:hover{
  color: white;
  text-decoration: none;
}

.waths {
  background-color: #25d366;
}
.face {
  background-color: #3b5998;
}
.twitter{
  background-color: #2aa9e0;
}

.padding {
  margin-right: 5px;
}
.border {
  width: 100%;
  display: none;
  border: 1px double black;
}

/* --------------------- */

@media (max-width: 575.98px) { 
  
  .pai {
    width: 100%;
    height: 90vh;
    padding: 0;
    justify-content: space-between;
    background: none ;
  }
  .public input {
    width: 95%;
  }
  .sharer{
    width: 100%;
    margin-bottom: -50px;
    min-height: 200px;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .border {
    display: block;
  }
}