@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');

*{
  font-family: 'Alata', sans-serif;
}
body {
  background: url('../../assets//img/banner.png') no-repeat;
}

.corpo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.textLogo {
  font-size: 40px;
  font-family: 'Frijole', cursive;
}

.pai {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background-color: #fff;
  color: #f66;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.public{
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

small{
  color: #f66;
  margin-bottom: 2px;
}

.public textarea {
  padding: 20px;
  width: 70%;
  border-radius: 10px ;
  background-color: transparent !important;
  color: #f66;
  border: 1px solid #f66
}

.sharer {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* --------------------- */

@media (max-width: 575.98px) { 
  
  .pai {
    width: 100%;
    height: 90vh;
    padding: 0;
  }
  .public textarea {
    width: 95%;
  }
  .sharer{
    width: 100%;
    justify-content: space-around;
   
  }
}